{% extends 'project/base.html' %}
{% load static %}

{% block content %}
<div class="home">


    <form method="POST" action = "/">
        {% csrf_token %}
        <div class="form-control">
            <label> Enter lattitude</label>
            <input type="text" name="lat" id="lat" class="form-control" />
        </div>


        <div class="form-control">
            <label> Enter Longitude</label>
            <input type="text" name="long" id="long" class="form-control" />
        </div>

        <button class="btn btn-primary" type = "submit"> get Weather data </button>

    </form>



    <div>
        Results
        {{ results }}
    </div>

</div>
{% endblock %}